--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.6.0+cpu
transformers==4.46.0
uvicorn
python-dotenv
pypdf
sentence-transformers
groq
openai
pinecone-client
sqlalchemy
psycopg2-binary
redis
langsmith
pytest
httpx
python-multipart
tiktoken
chromadb
fpdf2
fastapi
